.red-title {
    color: #ff0303 !important;
    font-size: 3em;
    top: 60%;
    left: 50%;
}

.h3-class {
  color: #000000 !important;
}

.a-nav-class{
    font-weight: bold;
    font-size: 2.5em;
    color: #ff0303 !important;
}

@media (min-width: 541px) {
  .navbar-form {
    width: 50%;
    border: 0;
      height: 40px;
    margin-left: 0;
    margin-right: 0;
    padding-top: 0;
    padding-bottom: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
  }
}
.center-div {
  width: 100%;
  top: 50%;
  left: 50%;
  position: absolute;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.set-up-player {
    width: 100%;
}

img {
  display: block;
  margin: auto;
}

.form-redesign {
  width: 70%;
  margin: 0 auto; }
form textarea, form input {
  width: 100%;
  padding: .5em 1em;
  height: 40px;
  font-size: 0.9em;
  /*max-width: 1000px;*/
  /*min-width: 200px;*/

}

/*div {*/
  /*display: table-cell;*/
  /*width: 100%;*/
/*}*/


/*input {*/
  /*background-size: contain;*/
  /*border: 1px solid #CECECE;*/
  /*width: 100%;*/
  /*padding: .5em 1em;*/
/*}*/

.home-button {
  background: #F1F1F1;
  border: 1px solid #F5F5F5;
  padding: 10px 15px 10px 15px;
  margin: 15px 2px;
  margin-left:20px;
}

/*li {*/
    /*list-style-type: none;*/
/*}*/


.grey_text{
    color: #888888;
    text-decoration: none;
}

.resize_nav_logo{
    margin-top:15px;
    margin-left: 10px;
    position: absolute;
}

.center-body {
  text-align: center;
}

.btn-right-corner{
  position: absolute;
  bottom: 5px;
  right: 5px;
  margin: 0;
  padding:5px 3px;
}
.centered {
    left:50%;
    text-align: center;
    margin-top: 15%;
    margin-left:auto;
    margin-right:auto;
    width: auto;
}


.centered-div {
    left:50%;
    margin-left:auto;
    margin-right:auto;
    width: auto;
}



.navbar {
    position: relative;
    min-height: 10px;
    margin-bottom: 20px;
    border: 1px solid transparent;
}

.video-div-player-class {
    height: 80%;
    width: 80%;
}

.video-player-class {
    height: 60%;
    width: 80%;
}

h1,h3,div a:hover
{
    text-decoration: none;
    color: #888888;
}

.talk-title{
    font-size: 1.3em !important;
    font-weight: bold;
    color: #222222;
}

.talk-description-title{
    font-size: 1.1em !important;
    color: #222222;
}


.list-group-item
{  overflow:hidden;
    position: relative;
    display: block;
    padding: 10px 15px;
    width: 180px;
    margin-bottom: -1px;
    background-color: #fff;
    border: 1px solid #ddd;
}

.list-group-item-title{
    background-color: #B0B6BF !important;
}

video {
   width:305px;
   height:160px;
   -webkit-background-size:cover;
   -moz-background-size:cover;
   -o-background-size:cover;
   background-size:cover;
}

body {
    width: 100%;
}

.sticky-footer{
    margin-top: 300px;
}

.footer {
  height: 50px;
  text-align: center;
}

.blogShort{ border-bottom:1px solid #ddd;}

.add{background: #333; padding: 10%; height: 300px;}

.nav-sidebar {
    width: 100%;
    padding: 8px 0;
    border-right: 1px solid #ddd;
}
.nav-sidebar a {
    color: #333;
    -webkit-transition: all 0.08s linear;
    -moz-transition: all 0.08s linear;
    -o-transition: all 0.08s linear;
    transition: all 0.08s linear;
}
.nav-sidebar .active a {
    cursor: default;
    background-color: #ff0303;
    color: #fff;
}
.nav-sidebar .active a:hover {
    background-color: #ff0303;
}
.nav-sidebar .text-overflow a,
.nav-sidebar .text-overflow .media-body {
    white-space: nowrap;
    overflow: hidden;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
}

.btn-blog {
    color: #ffffff;
    background-color: #ff0303;
    border-color: #ff0303;
    border-radius:0;
    margin-bottom:10px
}
.btn-blog:hover,
.btn-blog:focus,
.btn-blog:active,
.btn-blog.active,
.open .dropdown-toggle.btn-blog {
    color: white;
    background-color:#ff0303;
    border-color: #ff0303;
}

 h2{color:#000000;}
 .margin10{margin-bottom:10px; margin-right:10px;}
